.navbar {
  text-align: initial;
  padding: 20px;
  position: fixed;
  width: 100%;
}
.navbar__logo {
    width: 40px;
}

.title-bar a {
  color:#fff;
}
.action{
  float: right;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}